extends index

block content
    main.main.col-9
        .row
            header.sleeps-large.col-12
                h2 sleeps: 
                h1 1/2
        .row
            article.properties.col-4
                .property-card.card
                    img.property-card-image.card-img-top(src='./assets/Burlington-living-200x133.jpg', alt='Card image')
                    .property-card-body.card-body
                        .property-card-upper
                            h4.property-card-title.card-title Burlington Apartment
                            p.property-card-text.card-text
                                | This is a neat, first floor, one bedroom self catering apartment in a great location. In the heart
                                | of
                                | the fashionable…
                        hr.property-card-line
                        .property-card-lower
                            h5.property-card-sleeps Sleeps: 
                            h4.property-card-sleeps-number 2
            article.properties.col-4
                .property-card.card
                    img.property-card-image.card-img-top(src='./assets/Hamilton-lounge-patio-200x133.jpg', alt='Card image')
                    .property-card-body.card-body
                        .property-card-upper
                            h4.property-card-title.card-title Hamilton Apartment
                            p.property-card-text.card-text
                                | A very stylish,comfortable one bedroom holiday apartment on Brighton Marina. Rare bonuses are that
                                | this lovely…
                        hr.property-card-line
                        .property-card-lower
                            h5.property-card-sleeps Sleeps: 
                            h4.property-card-sleeps-number 2
            article.properties.col-4
                .property-card.card
                    img.property-card-image.card-img-top(src='./assets/Britannia3-bedroom-200x133.jpg', alt='Card image')
                    .property-card-body.card-body
                        .property-card-upper
                            h4.property-card-title.card-title Britannia Apartment 3
                            p.property-card-text.card-text
                                | Britannia Apartment 3 is a very pretty, ground floor apartment with a large private patio. This one
                                | bedroom…
                        hr.property-card-line
                        .property-card-lower
                            h5.property-card-sleeps Sleeps: 
                            h4.property-card-sleeps-number 2
            article.properties.col-4
                .property-card.card
                    img.property-card-image.card-img-top(src='./assets/grand-parade-dining-200x133.jpg', alt='Card image')
                    .property-card-body.card-body
                        .property-card-upper
                            h4.property-card-title.card-title Grand Parade
                            p.property-card-text.card-text
                                | Grand Parade Apartment is a bright one bedroom apartment in a very central location, close to the
                                | Royal Pavilion,…
                        hr.property-card-line
                        .property-card-lower
                            h5.property-card-sleeps Sleeps: 
                            h4.property-card-sleeps-number 2
            article.properties.col-4
                .property-card.card
                    img.property-card-image.card-img-top(src='./assets/Hamilton-lounge-patio-200x133.jpg', alt='Card image')
                    .property-card-body.card-body
                        .property-card-upper
                            h4.property-card-title.card-title Madeira View
                            p.property-card-text.card-text
                                | Madeira View has direct sea views and is a stylish one bedroom apartment with an additional study
                                | room. An ideal…
                        hr.property-card-line
                        .property-card-lower
                            h5.property-card-sleeps Sleeps: 
                            h4.property-card-sleeps-number 2
            article.properties.col-4
                .property-card.card
                    img.property-card-image.card-img-top(src='./assets/Hamilton-lounge-patio-200x133.jpg', alt='Card image')
                    .property-card-body.card-body
                        .property-card-upper
                            h4.property-card-title.card-title St James' Studio
                            p.property-card-text.card-text
                                | ​St James’ Studio offers a neat and economical choice and is especially suitable if you are here
                                | longer…
                        hr.property-card-line
                        .property-card-lower
                            h5.property-card-sleeps Sleeps: 
                            h4.property-card-sleeps-number 2
            article.properties.col-4
                .property-card.card
                    img.property-card-image.card-img-top(src='./assets/lansdowne5-lounge01-200x133.jpg', alt='Card image')
                    .property-card-body.card-body
                        .property-card-upper
                            h4.property-card-title.card-title Lansdowne 5
                            p.property-card-text.card-text
                                | A one bedroom self catering apartment ideally situated for the beach and town. Set in an elegant
                                | Regency building,…
                        hr.property-card-line
                        .property-card-lower
                            h5.property-card-sleeps Sleeps: 
                            h4.property-card-sleeps-number 2
            article.properties.col-4
                .property-card.card
                    img.property-card-image.card-img-top(src='./assets/hollandroad-lounge01-200x133.jpg', alt='Card image')
                    .property-card-body.card-body
                        .property-card-upper
                            h4.property-card-title.card-title Holland rd
                            p.property-card-text.card-text
                                | Offering a quiet retreat, this raised ground floor holiday apartment is spacious and beautifully
                                | furnished in…
                        hr.property-card-line
                        .property-card-lower
                            h5.property-card-sleeps Sleeps: 
                            h4.property-card-sleeps-number 2
            article.properties.col-4
                .property-card.card
                    img.property-card-image.card-img-top(src='./assets/lansdowneplace1-dining02-200x133.jpg', alt='Card image')
                    .property-card-body.card-body
                        .property-card-upper
                            h4.property-card-title.card-title Lansdowne Place 1
                            p.property-card-text.card-text
                                | A very stylish one bedroom self catering apartment in one of Brighton’s premier addresses. This
                                | would be ideal…
                        hr.property-card-line
                        .property-card-lower
                            h5.property-card-sleeps Sleeps: 
                            h4.property-card-sleeps-number 2