extends index

block content
    main.main.col-9
        .row
            header.sleeps-large.col-12
                h2 sleeps: 
                h1 1/2
        .row
            article.properties.col-4
                .property-card.card
                    img.property-card-image.card-img-top(src='./assets/Burlington-living-200x133.jpg', alt='Card image')
                    .property-card-body.card-body
                        .property-card-upper
                            h4.property-card-title.card-title Burlington Apartment
                            p.property-card-text.card-text
                                | This is a neat, first floor, one bedroom self catering apartment in a great location. In the heart
                                | of
                                | the fashionable…
                        hr.property-card-line
                        .property-card-lower
                            h5.property-card-sleeps Sleeps: 
                            h4.property-card-sleeps-number 2